# Configuration file (10/14/14 20:49:03.059)

# Server configuration
Ice.Admin.ServerId=Center
Ice.Admin.Endpoints=tcp -h 127.0.0.1
Ice.ProgramName=Center
# Object adapter LoginAdapter
LoginAdapter.Endpoints=tcp -p 10086 -h localhost
LoginAdapter.AdapterId=Center.LoginAdapter
# Object adapter Center.IceAdmin
Center.IceAdmin.Endpoints=tcp -p 10087 -h localhost
Center.IceAdmin.AdapterId=Center.Center.IceAdmin
# Server descriptor properties
Identity=Center.LoginSessionManager
Identity=Center.Gm
Identity=Center.Charge
Ice.ThreadPool.Server.Serialize=1
Ice.ThreadPool.Server.Size=10
Ice.ThreadPool.Server.SizeMax=20
Ice.Warn.Connections=1
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.Default.Locator=xsango/Locator:tcp -p 4061 -h 192.168.1.212
