# Configuration file (10/14/14 20:49:03.059)

# Server configuration
Ice.Admin.ServerId=CrossArena
#Ice.Admin.Endpoints=tcp -h localhost
Ice.ProgramName=CrossArena
# Object adapter LoginAdapter
CrossArenaAdapter.Endpoints=tcp -p 10188 -h 192.168.18.48
CrossArenaAdapter.AdapterId=CrossArena.CrossArenaAdapter
# Object adapter CrossArena.IceAdmin
CrossArena.IceAdmin.Endpoints=tcp -p 10189 -h 192.168.18.48
CrossArena.IceAdmin.AdapterId=CrossArena.CrossArena.IceAdmin
# Server descriptor properties
#Identity=CrossArena.Gm
Ice.ThreadPool.Server.Serialize=1
Ice.ThreadPool.Server.Size=10
Ice.ThreadPool.Server.SizeMax=20
Ice.Warn.Connections=1
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.Default.Locator=xsango/Locator:tcp -p 4061 -h 192.168.4.125
