# Configuration file (10/14/14 20:49:03.059)

# Server configuration
Ice.Admin.ServerId=CrossServer
#Ice.Admin.Endpoints=tcp -h localhost
Ice.ProgramName=CrossServer
# Object adapter LoginAdapter
CrossServerAdapter.Endpoints=tcp -p 10186 -h 192.168.18.11
CrossServerAdapter.AdapterId=CrossServer.CrossServerAdapter
# Object adapter CrossServer.IceAdmin
CrossServer.IceAdmin.Endpoints=tcp -p 10187 -h 192.168.18.11
CrossServer.IceAdmin.AdapterId=CrossServer.CrossServer.IceAdmin
# Server descriptor properties
Identity=CrossServer.Gm
Ice.ThreadPool.Server.Serialize=1
Ice.ThreadPool.Server.Size=10
Ice.ThreadPool.Server.SizeMax=20
Ice.Warn.Connections=1
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.Default.Locator=xsango/Locator:tcp -p 4061 -h 192.168.4.125
